ENV=dev
APP_ROOT=
STORE_SECRET=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
CLIENT_ID_YANDEX=
CLIENT_SECRET_YANDEX=
DATABASE_URL=

YOS_ACCESS_KEY=
YOS_SECRET_KEY=
YOS_BUCKET=
YOS_ENDPOINT=
YOS_CDN_BASE_URL= 

